HELP.md
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
.git
.cache
Jenkinsfile
LICENSE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# ignore all *.class files in all folders, including build root
*.class

# ignore node_modules
/node_modules/
frontend/build
frontend/node_modules
