/*
Header
==================================================
*/
:root {
    --theme-color1: #fff;
    --theme-main-background: #011a30;
    --theme-active-link: #00b5f2;
    --theme-button-color: #185ecc;
}

html,
body
 {
    height: 100vh;
}

#root,
.App
{
    height: 100%;
}

body {
    background-color: var(--theme-main-background);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

.colored {
    width: 100%;
    background: #011a30;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

.site-logo {
    width: 78.33px;
    margin-right: 30px;
    background-color: #011a30;
}

.c-container {
    margin: auto;
    width: 93%;
    position: relative;
    z-index: 1;
}

.App-header {
    .navbar-toggler-icon {
        color: var(--theme-color1);
    }
    
    .navbar-nav a {
        text-decoration: none;
        color: var(--theme-color1);
        text-transform: uppercase;
    
        &:hover {
            border: 1px solid var(--theme-color1);
        }
    
        &.active {
            border: 1px solid var(--theme-active-link);
        }
    }

    .App-warnings {
        color: red;
        text-align: center;

        a {
            color: red;
        }
    }
}

.configurationCard,
.pluginCard {
    background-color: #001627;
    border-color: #333;

    .card-footer {
        margin-top: 10px;
    }
}

.btn {
    background-color: #185ecc;
}

.SpinnerComponent {
    height: 100%;

    .spinner-border {
        width: 6rem;
        height: 6rem;
        color: #011a30;
    }
}